body {
  background: #000;
  color: #fff;
  font-family: sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 4px;
}

.cell {
  border: 2px solid #444;
  padding: 10px;
  text-align: center;
  font-size: 1.4rem;
  min-height: 40px;
}

.cell.filled {
  border-color: #888;
}

.cell.active {
  background: #0f0;
  color: #000;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.controls button {
  font-size: 1.4rem;
  padding: 10px 20px;
}

.bpm-display {
  font-size: 1.4rem;
  padding: 10px;
}

/* Ottava */
.octave-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.octave-row button {
  font-size: 1.4rem;
  padding: 10px 20px;
}

.octave-display {
  font-size: 1.6rem;
}

/* Tastiera */
.keyboard {
  display: flex;
  gap: 2px;
  position: relative;
  border: 1px solid blueviolet;
}

.key-wrapper {
  width: 12.5%;
  position: relative;
  display: flex;
}

.key-base {
  width: 100%;
}

.white-key {
  height: 120px;
  background: #fff;
  color: #000;
  border: 2px solid #333;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.white-label {
  position: static;
  margin-bottom: 4px;
}

.black-key {
  height: 80px;
  background: #111;
  color: #fff;
  border: 2px solid #555;
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 2;
}

.black-label-flat {
  display: block;
  font-size: 0.8rem;
  text-align: center;
}

.black-label-sharp {
  display: block;
  font-size: 0.8rem;
  text-align: center;
}


.clear-key {
  height: 120px;
  background: #999;
  color: #000;
  border: 2px solid #333;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.clear-label {
  font-weight: bold;
  position: static;
  margin-bottom: 4px;
}